#app {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans);
  gap: var(--size-fluid-2);
  justify-content: center;
  padding-top: var(--size-header-1);
  margin-inline: auto;
  max-width: 90rem;
  text-align: center;
  width: 90%;
}

img {
  width: fit-content;
}

h1 {
  color: var(--brand);
  max-inline-size: var(--size-30);
}
